configuration {
    modi: "run,drun";
    font: "Iosevka Comfy 10";
    terminal: "alacritty";
    drun-display-format: " {name} ";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: " Apps ";
    display-run: " Run ";
    sidebar-mode: true;
}

@theme "hazakura"
