$background: #0d0d0f;
$foreground: #ece5ea;

$black: #151517;
$gray: #242426;
$lightgray: #454449;
$red: #f06969;
$green: #91d65c;
$yellow: #d9d564;
$purple: #a292e8;
$blue: #78b9c4;
$magenta: #e887bb;
$cyan: #7ee6ae;
$white: $foreground;

* {
    all: unset;
    color: $foreground;
}

.bar {
    background-color: $background;
    border-right: 2px $gray solid;
}

.workspaces {
    border-radius: 4px;
    padding: .5em;
    margin-right: 8px;
    font-weight: 900;
    margin-top: 6px;
    background-color: $gray;
    font-size: 1.1em;
    margin-left: 6px;
    label {
        color: $purple;
    }
}

.menu {
    margin-bottom: 6px;
    margin-left: 6px;
    background-color: $gray;
    font-size: 1em;
    margin-right: 8px;
    font-weight: 900;
}

.menu button {
    padding: .5em;
}

.dashboard {
  background-color: $background;
  border: 2px solid $gray;
}

.system {
  background-color: $black;
  border-right: 1.5em solid $background;
  border-bottom: 1.5em solid $background;
  border-left: 1.5em solid $background;
  font-weight: 900;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 1.3em;
}

.mem_circle {
  margin: .4em;
  color: $purple;
  font-size: 1.3em;
  background-color: $background;
}
.bat_circle {
  margin: .4em;
  color: $red;
  font-size: 1.3em;
  background-color: $background;
}
.cpu_circle {
  margin: .4em;
  color: $magenta;
  font-size: 1.3em;
  background-color: $background;
}

.info {
  margin-left: 2px;
  margin-right: 2em;
}

.clock_container {
    margin-left: 2em;
    border-bottom: 2px solid $magenta;
}

.clock_day {
  font-weight: 600;
  font-size: 2.8em;
}

.clock_ext {
  border: 2px solid $gray;
  padding: .6em;
  font-size: 1.5em;
  font-weight: 400;
}

.divider {
  color: $cyan;
  padding: 0;
  margin: 0;
}

.time_mer {
  font-weight: 300;
}

.music {
  background-color: $black;
  margin-left: 2px;
  padding: 1em;
  margin-right: 2px;
  border: 2em solid $background;
}
.music_title {
  font-size: 1.2em;
  font-weight: 700;
  color: $purple;
}
.music_artist {
  font-size: 1.1em;
  font-style: italic;
}
.queued_box {
    margin-top: 5px;
}
.queued_text {
    color: $magenta;
    font-weight: 700;
}

.time_container {
  background-color: $gray;
  border-radius: 4px;
  padding: .3em;
  margin-right: 8px;
  margin-left: 6px;
}
.time_separator {
  color: $white;
}
.time_hour_alt {
  color: $blue;
  font-size: 1.2em;
}
.time_min_alt {
  font-size: 1.2em;
  font-weight: 800;
}

.music_interval scale trough {
  all: unset;
  background-color: $lightgray;
  border-radius: 0;
  min-height: 8px;
  min-width: 8px;
}
.music_interval scale trough highlight {
    all: unset;
    background-color: $blue;
}

.powerbutton {
    label {
        color: $red
    }
    font-size: 1.3em;
    margin: 6px 8px 6px 6px;
    padding: 4px;
}

.barstats {
    background-color: $gray;
    margin: 6px 8px 6px 6px;
    padding: .3em;
    border-radius: 4px;
    label {
        padding: 2px;
    }
    .barwifi {
        font-size: 0.8em;
        color: $cyan;
    }
}
